<context id="SimulationContext" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://repast.org/scenario/context">
  		<projection id="sugarscapeGrid" type="grid" />
		<projection id="sugar_quantity" type="value layer" />
		<projection id="sugar_capacity" type="value layer" />
		<projection id="sugar_rate" type="value layer" />
</context>
